//define global style and size
$myFont: Helvetica, sans-serif;
$myFontSize: 18px;

//define global color
$primary_black: #222831;
$primary_grey: #393E46;
$primary_blue: #00ADB5;
$primary_lightgrey: #EEEEEE;
$primary_white: #ffffff;

body{
    font: {
        family: $myFont;
        size: $myFontSize;
    }

    text: {
        overflow: hidden;
    }

    margin: {
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
    }
}

.header {
    background-color: $primary_black;
    overflow: hidden;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
        margin: 0;
        padding: 0;

        div {
            
        }
        .logo {
            img {
                width: 120px;
            }
        }

        .nav {
            a {
                
                color: $primary_white;
                padding: 14px 16px;
                text-decoration: none;
                font-size: $myFontSize;
            }
        }

        .sidebar{
            input[type=text] {
                float: right;
                padding: 6px;
                border: 1px solid #ccc;
                margin {
                    top: 8px;
                    right: 16px;
                }
            }
        }
    }
}