<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>

<body>
    <div id="isi">
        <div class="isipostingan">
            <img src="../img/KimiNoNawa.jpg" class="gambar">
            <div class="Judul">
                <b>Judul</b> : Kimi No Nawa
            </div>
            <div class="Tanggal">
                <b>Publish</b> : Aug 26, 2016
            </div>
            <div class="Author">
                <b>Author</b> : Makoto Shinkai
            </div>
            <b>Sinopsis</b> : Mitsuha Miyamizu, a high school girl, yearns to live the life of a boy in the bustling city of Tokyo, a dream that stands in stark contrast to her present life in the countryside. Meanwhile in the city, Taki Tachibana lives a busy life as a high school student while juggling his part-time job and hopes for a future in architecture. One day...<br>
            <a href="postingan1.html">
                baca selengkapnya>>>
            </a>
        </div>
        <div class="isipostingan">
            <img src="../img//TenkiNoKo.jpg" class="gambar">
            <div class="Judul">
                <b>Judul</b> : Tekni No Ko
            </div>
            <div class="Tanggal">
                <b>Publish</b> : Jul 19, 2019
            </div>
            <div class="Author">
                <b>Author</b> : Makoto Shinkai
            </div>
            <b>Sinopsis</b>Tokyo is currently experiencing rain showers that seem to disrupt the usual pace of everyone living there to no end. Amidst this seemingly eternal downpour arrives the runaway high school student Hodaka Morishima, who struggles to financially support himself—ending up with a job at a small-time publisher. At the same time...<br>
            <a href="postingan1.html">
                baca selengkapnya>>>
            </a>
        </div>
        <div class="isipostingan">
            <img src="../img/SonoBisque.jpg" class="gambar">
            <div class="Judul">
                <b>Judul</b> : Sono Kisekae Ningyou wa Koi wo Suru
            </div>
            <div class="Tanggal">
                <b>Publish</b> : Jan 9, 2022
            </div>
            <div class="Author">
                <b>Author</b> : Shinichi Fukuda
            </div>
            <b>Sinopsis</b> : Engrossed in the family business of traditional doll making, Wakana Gojou is a reserved high school freshman without friends. Harboring painful memories of a childhood friend's disdain toward his interest, Gojou cannot relate...<br>
            <a href="postingan1.html">
                baca selengkapnya>>>
            </a>
        </div>
        <div class="isipostingan">
            <img src="../img/SpyXFamily.jpg" class="gambar">
            <div class="Judul">
                <b>Judul</b> : Spy x Family
            </div>
            <div class="Tanggal">
                <b>Publish</b> : Apr 9, 2022
            </div>
            <div class="Author">
                <b>Author</b> : Tatsuya Endo
            </div>
            <b>Sinopsis</b> : For the agent known as "Twilight," no order is too tall if it is for the sake of peace. Operating as Westalis' master spy, Twilight works tirelessly to prevent extremists from sparking a war with neighboring country Ostania...<br>
            <a href="postingan1.html">
                baca selengkapnya>>>
            </a>
        </div>
        <div class="isipostingan">
            <img src="../img/SNK.jpg" class="gambar">
            <div class="Judul">
                <b>Judul</b> : Shingeki no Kyojin
            </div>
            <div class="Tanggal">
                <b>Publish</b> : Jan 10, 2022
            </div>
            <div class="Author">
                <b>Author</b> : Hajime Isayama
            </div>
            <b>Sinopsis</b> : Turning against his former allies and enemies alike, Eren Yeager sets a disastrous plan in motion. Under the guidance of the Beast Titan, Zeke, Eren takes extreme measures to end the ancient conflict between Marley and...<br>
            <a href="postingan1.html">
                baca selengkapnya>>>
            </a>
        </div>
</body>


</html>