<!DOCTYPE html>
<html lang="en">
<head><link rel="stylesheet" href="../scss/style.css"></head>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Top Anime</h4>
                    <ul>
                        <li><a href="#">Fullmetal Alchemist: Brotherhood</a></li>
                        <li><a href="#">Gintama°</a></li>
                        <li><a href="#">Steins;Gate</a></li>
                        <li><a href="#">Shingeki no Kyojin Season 3 Part 2</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Top Airing Anime</h4>
                    <ul>
                        <li><a href="#">Spy x Family</a></li>
                        <li><a href="#">Kaguya-sama wa Kokurasetai: Ultra Romantic</a></li>
                        <li><a href="#">One Piece</a></li>
                        <li><a href="#">Kingdom 4th Season</a></li>
                        <li><a href="#">Holo no Graffiti</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Most Popular Characters</h4>
                    <ul>
                        <li><a href="#">Lamperouge, Lelouch</a></li>
                        <li><a href="#">Levi</a></li>
                        <li><a href="#">Lawliet, L</a></li>
                        <li><a href="#">Monkey D., Luffy</a></li>
                    </ul>
                </div>
            </div>
        </div>

        
    </footer>
    <div class="footer-bottom">
        <a>Copyright | AnimeHub | Hafiz</a>
    </div>

</html>