<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/style.css">
</head>
<body>
    <div class="top-header">
        <div class="section">
            <div class="logo">
                <img src="../img/animhub-transparent.png" alt="">
            </div>

            <div class="nav">
                <div class="navbar">
                  <i class='bx bx-menu'></i>
                 
                  <div class="nav-links">
                    <ul class="links">
                      <li><a class="active" href="#">HOME</a></li>
                      <li>
                        <a href="#">HTML & CSS</a>
                        <ul class="htmlCss-sub-menu sub-menu">
                          <li><a href="#">Web Design</a></li>
                          <li><a href="#">Login Forms</a></li>
                          <li><a href="#">Card Design</a></li>
  
                        </ul>
                      </li>
                      <li>
                        <a href="#">JAVASCRIPT</a>
                        <i class='bx bxs-chevron-down js-arrow arrow '></i>
                        <ul class="js-sub-menu sub-menu">
                          <li><a href="#">Dynamic Clock</a></li>
                          <li><a href="#">Form Validation</a></li>
                          <li><a href="#">Card Slider</a></li>
                          <li><a href="#">Complete Website</a></li>
                        </ul>
                      </li>
                      <li><a href="#">ABOUT US</a></li>
                      <li><a href="#">CONTACT US</a></li>
                    </ul>
                  </div>
                </div>
                </div>
          

            <div class="search-container">
                <form action="#">
                    <input type="text" placeholder="Search...">
                    <button type="submit"><img src="../img/search-icon.png" alt=""></button>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom-header">
        
    </div>
</body>
</html>