<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>
<body>
    <div id="sidebar">
        <div class="widged">
            <h1 class="judulwidged">WIBU HARUS TAU!!!!</h1>
            <ul>
                <li><a href="https://www.liputan6.com/showbiz/read/4914395/demon-slayer-kimetsu-no-yaiba-bawa-kabar-duka-tokoh-kaligrafri-tsunanori-sakaguchi-meninggal-dunia">Tokoh Kaligrafri Tsunanori Sakaguchi Meninggal Dunia</a></li>
                <li><a href="https://www.ayosemarang.com/umum/pr-772311202/daftar-game-yang-diadaptasi-dari-anime-jepang-player-hingga-wibu-harus-tahu">Daftar Game yang Diadaptasi dari Anime</a></li>
                <li><a href="http://jurnalotaku.com/2022/03/21/mari-kita-ngobrol-soal-pay-to-win/">Definisi Pay to Win</a></li>
                <li><a href="https://www.kaorinusantara.or.id/newsline/178576/suzume-no-tojimari-siap-dirilis-november-2022">Suzume no Tojimari Siap Dirilis November 2022</a></li>
                <li><a href="hhttps://hot.detik.com/book/d-6020961/fujiko-a-fujio-pencipta-ninja-hattori-meninggal-dunia">Fujiko A Fujio Pencipta Ninja Hattori Meninggal Dunia</a></li>
            </ul>
        </div>
    </div>
</body>
</html>